*{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        
        .navbar{
            width: 100%;
            padding: 20px;
            position: fixed;
            top: 0px;
            transition: 0.4s;
            overflow: hidden;
            z-index: 99;
        }
        .navbar ul li{
            list-style-type: none;
            display: inline-block;
            padding: 10px 10px;
            color: white;
            font-size: 24px;
            text-decoration-color: white;
            font-family: sans-serif;
            cursor: pointer;
            border-radius: 10px;
            transition: .5s;
        }
        .foti ul li
        {
               list-style-type: none;
            display: inline-block;
            cursor: pointer;
        }
        .navbar ul li:hover{
            background: red;
        }
        navbar a.active
        {
            background-color: red;
        }
        
        .main-title h3
        {
            font-size: 34px;
            font-family: 'Roboto Slab', serif;
            letter-spacing: 2px;
            color: #ed3267;
            font-weight: 600;
            margin-top: 0px;
            padding: 0px;
            margin-top: 20px;
            margin-bottom: 16px;
        }
        .main-title p
        {
            font-size: 16px;
            letter-spacing: 1px;
            color: #1A1A1A;
            padding: 0px;
            line-height: 27px;
            margin-bottom: 0px;
        }
        .underline1 {
    height: 3px;
    width: 150px;
    background-color: black;
    margin: auto;
    margin-top: 15px;
}
        .underline2 {
    height: 10px;
    width: 10px;
    background-color: black;
    margin: auto;
    margin-top: -7px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
        
        
#testimonial4{
  overflow: hidden;
  min-height: 450px;
  position: relative;
    background-image: url(clients.jpg);
    background-size: cover;
  
}
#testimonial4 .carousel-inner{
  width: 75%;
  margin: auto;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  margin: 2px 3px;
  background-color: #000;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
}

.testimonial4_slide p {
  color: #ffffff;
  font-size: 16px;
  margin: 40px 0 20px 0;
}

.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}


@media only screen and (max-width: 480px){
  .testimonial4_control_button .carousel-control{
    display: none;
  }
  .testimonial4_header{
    width: 95%;
  }
  .testimonial4_header h4{
    font-size: 20px;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .testimonial4_control_button .carousel-control.left{
    left: 2%;
  }
  .testimonial4_control_button .carousel-control.right{
    right: 2%;
  }
  .testimonial4_header{
    width: 95%;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
  }
}
        
        .blog-main{
    box-shadow: 0px 0px 5px 0px #d2d2d2;
    padding-bottom: 49px;
    margin-bottom: 30px;
}
        .blog-head{
    padding-left: 20px;
    margin-top: 20px;
}
        .blog-head h2 {
    margin: 0px;
    margin-bottom: 30px;
    font-size: 17px;
    background-color: #ed3267;
    color: white;
    padding: 16px 26px;
    line-height: 22px;
    margin-top: -76px;
    position: relative;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    display: table-caption;
}
.blog-head a {
    color: #ed3267;
    font-size: 24px;
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.blog-head a:hover {
    color: black;
    text-decoration: none;
}
.blog-middle {
    display: inline-flex;
    padding-left: 20px;
    margin-top: 12px;
}
.blog-middle h4 {
    margin: 0px;
    font-size: 15px;
    margin-left: 7px;
    margin-right: 15px;
}
.blog-icon{
    color: #ed3267;
}
.blog-bottom{
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.blog-bottom p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}