/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}



.button1 {
     border:1px solid;   
    padding:10px;
    background-color:white;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    border-color: orangered;
    border-width:medium;
    background-color: orangered;
    color: white;
    
}
        .button2 {
     border:1px #333 solid;   
    padding:10px;
    background-color:white;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    border-color: red;
    border-width:2px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
            opacity: 1;
}
